<!-- Sidebar -->
<div class="border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <a [routerLink]="['/home']" routerLinkActive="$router_link-active$">Gamezone</a>
  </div>
  <div class="list-group list-group-flush">
    <a [routerLink]="['/admin']" routerLinkActive="$router_link-active$" class="list-group-item list-group-item-action bg-light"><i class="fas fa-columns"></i> Dashboard</a>
    <a [routerLink]="['/admin/users']" routerLinkActive="$router_link-active$" class="list-group-item list-group-item-action bg-light"><i class="fas fa-users"></i> Users</a>
  </div>
</div>
<!-- /#sidebar-wrapper -->
