<h1>Online Shop</h1>
<ul>
  <li>
    <a [routerLink]="['/home']" routerLinkActive="$router_link-active$">Home</a>
  </li>
  <li>
    <a [routerLink]="['/contact']" routerLinkActive="$router_link-active$">Contact</a>
  </li>
  <li>
    <a [routerLink]="['/admin']" routerLinkActive="$router_link-active$">Admin</a>
  </li>
</ul>
<router-outlet></router-outlet>
